.cnv-counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	text-align: center;

	&__icon-container {
		position: relative;
		max-width: 70px;
		font-size: 40px;
		color: $color__heading;
		margin-bottom: 20px;
	}

	&__number {
		font-family: $font__main;
		font-size: 30px;
		line-height: 1;
		font-weight: 700;
		color: $color__heading;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}

	&__title {
		font-size: 20px;
		color: $color__text-main;
		font-weight: 600;
		margin-bottom: 0;

		@media(max-width: 1200px) and (min-width: 768px) {
			font-size: 14px;
		}

	}
}

@media(max-width: 1200px) {
	.row {
		.col-md-4 {
			&:not(:last-child) {
				.cnv-counter {
					margin-bottom: 30px;
				}
			}
		}
	}
}