.cnv-gallery-details {
	padding: 100px 0;
	background: #fafafa;
}

.cnv-gallery {
	background-color: #fff;
	border: 1px solid #ecf0f9;
	box-shadow: 0 7px 14px 0 rgba(234, 237, 242, 0.5);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;

	&__img {
		overflow: hidden;
		a {
			display: block;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				//background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
				background: rgba(0, 0, 0, 0.5);
				z-index: 1;
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				img {
					transform: scale(1.1);
				}
			}
		}

		img {
			width: 100%;
			height: 270px;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
		}
	}

	&__content {
		padding: 20px 24px 24px;
		text-align: center;
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 0;
	}
}


// Single Page
.cnv-gallery-details_thumb {
	img {
		width: 100%;
		border-radius: 10px;
	}
}

.cnv-gallery-details_title {
	font-size: 36px;
}

.cnv-gallery-details_content-inner {
	padding-top: 20px;
}