.cnv-student-chart {
	border: 1px solid #e5e5e5;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	background: #fff;

	&__header {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		text-align: center;
		background: $color__theme;


		&-item {
			padding: 15px 0;
			border-right: 1px solid rgba(255, 255, 255, .2);
			border-bottom: 1px solid #e5e5e5;

			&:last-child {
				border-right: none;
			}

			&__label {
				font-size: 16px;
				font-weight: 600;
				color: #fff;
				margin-bottom: 0;
			}
		}
	}


	&__class-info {
		display: grid;
		grid-template-columns: [first] 1fr [line2] 3fr [line3] 1fr;
		align-items: center;

		&:not(:last-child) {
			border-bottom: 1px solid #e5e5e5;
		}
	}

	&__students {
		> div {
			padding: 10px
		}

		&:not(:last-child) {
			border-bottom: 1px solid #e5e5e5;
		}
	}

	&__students-list, &__male {
		border-right: 1px solid #e5e5e5;
		border-left: 1px solid #e5e5e5;
	}

	&__students {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.total-students {
		background: #e8e8e8;
	}

	&__footer {
		background: $color__theme-2;

		.cnv-student-chart__students-list, .cnv-student-chart__male, .cnv-student-chart__total-student {
			border-color: rgba(255, 255, 255, .2);
			color: #fff;
			font-weight: 600;
		}
	}
}