.cnv-team {
	position: relative;
	transition: all 0.3s ease-in-out;


	&__info {
		text-align: center;
	}

	&__social {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
		}
	}

	&__name {
		color: $color__heading;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 13px;
		letter-spacing: -0.02em;
	}

	&__designation {
		color: #5E6371;
		font-size: 14px;
		font-weight: 400;
	}

	&__avater {
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}


	&__designation {
		margin-bottom: 3px;
	}

	&__expand-icon {
		height: 50px;
		width: 50px;
		line-height: 46px;
		border-radius: 50%;
		text-align: center;
		background: #162432;
		margin-bottom: 5px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}

	&__icons-wrapper {
		position: absolute;
		top: 25px;
		right: 25px;

		&.active {
			.cnv-team__social {
				li {
					transition: all 0.3s ease-in-out;
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}



	&--one {
		border-radius: 10px;
		border: 1px solid #ECF0F9;
		background: #FFF;
		overflow: hidden;
		padding: 66px 40px;

		.cnvschool-team__avater {
			border-radius: 50%;
			margin: 0 auto 32px;
			width: 210px;
			height: 210px;
		}

		.cnvschool-team__social {
			li {
				position: relative;
				display: block;
				transition: all 0.3s ease-in-out;
				transform: translateY(-10px);
				opacity: 0;
				visibility: hidden;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				a {
					font-size: 14px;
					display: inline-block;
					height: 50px;
					width: 50px;
					line-height: 51px;
					background: #F3F9FE;
					text-align: center;
					border-radius: 50%;

					&:hover {
						background: $color__theme;
						color: #fff;
					}
				}
			}
		}
	}

	&--two {
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		transition: all 0.3s ease-in-out;
		transform-style: preserve-3d;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			background: linear-gradient(180deg, rgba(8, 8, 8, 0.17) 0%, #D60058 100%);
			transition: all 0.3s ease-in-out;
			opacity: 0;
			visibility: hidden;
		}

		.cnvschool-team__avater {
			img {
				width: 100%;
				transition: all 0.3s ease-in-out;
			}
		}

		.cnvschool-team__info {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0 30px 30px;
			z-index: 2;
			height: 80px;
			transition: all 0.3s ease-in-out;
			transform: translateZ(20px);
		}

		.cnvschool-team__name {
			font-family: $font__heading;
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			line-height: 31px;
			letter-spacing: -0.44px;
			margin-bottom: 5px;
		}

		.cnvschool-team__designation {
			color: #fff;
			font-size: 14px;
			line-height: 22px;
		}

		.cnvschool-team__social {
			margin-top: 14px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease-in-out;
			transform: translateY(30px);

			li {
				a {
					display: inline-block;
					height: 34px;
					width: 34px;
					line-height: 34px;
					text-align: center;
					border-radius: 30px;
					color: #fff;
					background: rgba(255, 255, 255, 0.15);

				}
			}
		}

		&:hover {
			&:after {
				opacity: 1;
				visibility: visible;
				top: 0;
			}

			.cnvschool-team__avater {
				img {
					transform: scale(1.05) translateY(-20px);
				}
			}

			.cnvschool-team__info {
				height: 136px;
			}

			.cnvschool-team__social {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
}


