$font__main-bangla: 'Noto Sans Bengali', sans-serif;
$font__main: 'Poppins', sans-serif;
$font__heading: 'Poppins', sans-serif;
$font__heading-bangla: 'Noto Sans Bengali', sans-serif;
$font__code: 'Open Sans', sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


$font_3: 'Playfair Display', serif;
